<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=D:\DOWNLOAD\课程项目素材包\数据库\OLBOOKSTOREDB.MDF;Integrated Security=True" />
    <!--其它模块连接字符串，可以不断增加以便同一个项目支持连接多个数据库。如果没有，可以删除该行-->
    <add key="ConnectionString2" value="server=127.0.0.1;database=codematic2;uid=sa;pwd=1" />
    <add key="FCKEditor:BasePath" value="~/fckeditor/" />
    <add key="FCKEditor:UserFilesPath" value="~/userfiles/" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576" />
    <compilation debug="true" targetFramework="4.7.2" />
    <customErrors mode="Off" />
    <identity impersonate="false" />
    <authentication mode="Forms">
      <forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" >
    </pages>
    <httpHandlers>
      
    </httpHandlers>
    
  </system.web>
  <system.webServer>

    <handlers>
      <add name="AutoAuthCode" type="Vincent.AutoAuthCode.AuthCode,Vincent.AutoAuthCode, Version=1.5.0.0, Culture=neutral, PublicKeyToken=b633909bc009d6d9" verb="GET" path="AuthCode_Image.ashx" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
   
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>